td{
    border: 1px black solid;
    color:black;
    width:15%;
}
.ends {
    background-color:aqua;
    vertical-align: middle;
}
.orange{
    background-color:orange;
}
.green{
    background-color:greenyellow;
}
.empty_cell{
    width:8%;
}
.menu li{
    display:inline;
    margin-left:30px;
    font:18px bold;
}
.menu a{
    text-decoration:none;
    color:black;
}
.ends img{
    height:100px;
    width:auto;
}
img{
    height:100%;
    width:100%;
}